.App {
  padding: 20px;
}

label {
  display: block;
  margin: 30px 0 10px 0;
  font-weight: 900;
  font-size: 14px;
  line-height: 22px;
  color: #697386;
}

select {
  width: 100%;
  height: 40px;
  padding: 6px;
  text-transform: capitalize;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: #1A1F36;
  background-color: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid #E8E8EB;
  cursor: pointer;
}

select:active {
  border-radius: 5px;
  border: 1px solid #E8E8EB;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 48px;
  margin: 40px 0 20px;
  padding: 5px;
  font-size: 20px;
  background-color: #000;
  color: #fff;
  border: none;
  box-shadow: 0px -1px 1px rgba(0, 0, 0, 0.12), 0px 2px 5px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #000;
}
